In [1]:
#16Th Feb Assignment Solution

In [ ]:
#Ans 1:
'''A database is an organized collection of structured information,
or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, 
often shortened to just database.'''

'''   
1.SQL databases are relational, and NoSQL databases are non-relational.
2.SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4.SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5.SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.
'''

In [ ]:
#Ans2:
'''
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
'''

'''
CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

DROP :
This command is used to remove an existing table along with its structure from the Database.

DROP TABLE Student_info;

ALTER :
This command is used to add, delete or change columns in the existing table. 
The user needs to know the existing table name and can do add, delete or modify tasks easily.

ALTER TABLE Student_info
ADD CGPA number;

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

TRUNCATE TABLE Student_info;
'''

In [ ]:
#Ans 3:
'''
DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a
point in a database through SQL (Structured Query Language), but a time comes when we actually want to execute
some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation. 
DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from scratch. 
When it comes to interacting with existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

INSERT Command
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a
repository using this instruction. This is often used to connect an unused tag to the documents.

Example:

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))
VALUES ('1', 'Nirmit', 'Gorakhpur'); 

UPDATE Command
This command is used to alter existing table records. 
Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

Example:

UPDATE students
SET due_fees = 20000
WHERE stu_name = 'Mini'; 

DELETE Command
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records.
If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

Example:

DELETE FROM students
WHERE stu_id = '001'; 

'''

In [ ]:
#Ans 4:

'''
DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract
data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra. 

The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table,
which is subsequently displayed or received by a program, i.e. a front-end.

Example
SELECT Stu_Name FROM Student WHERE Phone = 847XXXXXXX;
'''

In [ ]:
#Ans 5:
'''A primary key generally focuses on the uniqueness of the table.
It is a column or a set of columns that uniquely distinguishes every row in the database. 
It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.

A foreign key is generally used to build a relationship between the two tables.
The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity
'''

In [ ]:
#Ans 6:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)


'''
cursor.execute(operation, params=None, multi=False)
iterator = cursor.execute(operation, params=None, multi=True)

This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. 
Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

'''

In [ ]:
#Ans 7:

'''
Order of Execution
The order of execution of an SQL query’s clauses is as follows:

First, the table on which the DML operation is performed has to be processed. So, the FROM clause is evaluated first in an SQL Query. 
If the query contains JOIN clauses, tables are combined by merging rows involved, before FROM clause.So, JOIN predates FROM in statements with JOIN.
Now table data is acquired before any filter or group is done. So subsequent clauses can be evaluated based on this data which
is much smaller than the original tables before JOIN operations. This also processes the subqueries.
SQL may create a temporary table internally to evaluate this. To make code memory efficient,
it is good to have simpler table JOINs it would be highly memory intensive.

WHERE: After the table data on which other operations take place is processed by JOIN and FROM clause, 
WHERE clause is evaluated. WHERE clause filters the rows based on conditions from the table evaluated by the FROM clause. 
This WHERE clause discards rows that don’t satisfy the conditions, thus reducing the rows of data that need to be processed further in other clauses.

GROUP BY: If the query has a GROUP BY clause, it is executed next. Here, the data is grouped based on the common value in the column specified 
in the GROUP BY clause. This reduces the number of rows further equal to no of distinct values in the GROUP BY column.
This helps to calculate aggregate functions.

HAVING: If the query had a GROUP BY clause, the HAVING clause is evaluated immediately after GROUP BY. HAVING clause is not compulsory for 
GROUP BY. Similar to WHERE operations, this clause also filters the table group processed before by the GROUP BY clause. 
This HAVING also discards rows that don’t satisfy the conditions, thus reducing the rows of data that need to be processed further in other clauses

SELECT: The SELECT is executed next after GROUP BY and HAVING.
It computes expressions (arithmetic, aggregate, etc.) and aliases given in the SELECT clause. 
The computation is now performed on the smallest dataset after much filtering and grouping operations done by previous clauses.

DISTINCT: The DISTINCT clause is executed after evaluating expressions, and alias references in the previous step. 
It filters any duplicate rows and returns only unique rows.

ORDER BY: After executing all the above clauses, the data to be displayed or processed is computed.
Now ORDER BY is executed to sort it based on particular column(s) either in ascending or descending order. 
It is left associative, that is it is sorted based on the first specified column and then by the second, and so on.

LIMIT/OFFSET: At last, after the order of data to be processed is evaluated, LIMIT and OFFSET clauses 
are evaluated to display only the rows that fall within the LIMIT. So, it is generally not recommended to LIMIT only certain rows 
from many rows evaluated before, since It is not efficient and waste of computation.

'''